body{
display: flex;
justify-content: center;
background-color: azure;
}
.container{
 display: flex;
 flex-direction: column;
 width: 50vw;

 
}
.heading{
    background-color: aqua;
   
}
.change-table{
    background-color: aqua;
    width:50vw;
}
caption{
    margin:1rem 0;
}
#check-button{
    border-radius: 1rem;
    background-color: aqua;
}